@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: monospace; */
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  position: relative;
  background: linear-gradient(to right, lightgray, gray);
  color: green;
  font-family: "Irish Grover", cursive;
}

.header-div {
  opacity: 0;
  animation: fadein 3s 4s forwards;
}

.footer {
  /* margin-top: 1.5rem; */
  opacity: 0;

  animation: fadein 3s 4s forwards;
  z-index: 50;
  position: relative;
}

.footer-blurb {
  animation: glow 20s infinite;
  z-index: 50;
  position: relative;
}

.header-h1 {
  /* font-size: 3rem; */
  letter-spacing: 5px;
  text-shadow: 3px 2px 20px white;
  animation: glow 20s infinite;
}

.beermug-parent-outer-div {
  height: 300px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  position: relative;
  z-index: 20;
  clip-path: polygon(0 0, 100% 0, 89% 100%, 11% 100%);
}

.beermug-parent-outer-div::after {
  width: 100%;
  height: 100px;
  content: "";
  position: absolute;
}

.beermug-parent-inner-div {
  width: 170px;
  height: 250px;
  background: lightgray;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 89% 100%, 11% 100%);
}

.beermug-parent-inner-div::after {
  width: 20px;
  height: 50px;
  top: 10%;
  left: 15%;
  border-radius: 100px;
  content: "";
  position: absolute;
  background: white;
  z-index: 5;
  opacity: 65%;
}

.beermug-parent-inner-div::before {
  width: 20px;
  height: 180px;
  top: 10%;
  right: 15%;
  border-radius: 100px;
  content: "";
  position: absolute;
  background: white;
  z-index: 5;
  opacity: 45%;
}

.froth {
  width: 100%;
  height: 10px;
  background: linear-gradient(to right, yellow, rgb(151, 118, 46));
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 4s ease;
  animation: float 6s forwards;
}

.froth-top {
  width: 195px;
  height: 100px;
  /* border: 3px solid red; */
  /* transform: translateY(130px); */
  position: relative;
  overflow: hidden;
  top: 90px;
  /* border: 3px solid red; */
  /* transition: 0.3s ease; */
  /* height: 0px; */
  transform: translateY(50px);
  animation: addfroth 2s 2s forwards;
}

.froth-1 {
  border-radius: 50%;
  position: absolute;
  left: 5%;
  width: 45%;
  height: 75%;
  background: white;
  top: 55%;
}

.froth-2 {
  border-radius: 50%;
  position: absolute;
  left: 0%;
  width: 25%;
  height: 65%;
  background: white;
  top: 55%;
  left: 45%;
}

.froth-3 {
  border-radius: 50%;
  position: absolute;
  left: 0%;
  width: 45%;
  height: 75%;
  background: white;
  top: 55%;
  left: 50%;
}

.beermugtwo {
  position: absolute;
  left: 100%;
  top: 35%;
  animation: clink 3s 4s;
}

@keyframes float {
  100% {
    height: 200%;
  }
}

@keyframes addfroth {
  100% {
    transform: translateY(-5px);
  }
}

@keyframes glow {
  10%,
  50%,
  95% {
    text-shadow: 0px 1px 5px white;
  }
  19%,
  40%,
  70%,
  90% {
    text-shadow: 2px 3px 10px white, 2px 3px 20px white, 2px 3px 30px white,
      2px 3px 40px white;
  }

  20%,
  41%,
  71%,
  91% {
    text-shadow: 2px 3px 30px white, 2px 3px 50px white, 2px 3px 80px white,
      2px 3px 90px white;
  }
}

@keyframes clink {
  25% {
    transform: translateX(-100px);
  }
  75% {
    transform: translateX(-100px) rotate(-5deg);
  }
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}
